form {
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-top: 10px;
}

input[type="text"],
input[type="email"],
html,
body {
  height: 100%;
}

textarea {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}

input[type="submit"] {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #0d7739;
  color: white;
  border: none;
  cursor: pointer;
}
h1 {
  text-align-last: center;
}
body {
  background-image: url("https://images.pexels.com/photos/2425011/pexels-photo-2425011.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.formm {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  margin: 0 auto;
}
